click==7.1.2
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
greenlet==1.0.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
mysql==0.0.2
mysql-connector-python==8.0.24
mysqlclient==2.0.3
names==0.3.0
protobuf==3.15.8
PyJWT==2.1.0
python-dotenv==0.17.0
six==1.15.0
SQLAlchemy==1.4.11
uuid==1.30
Werkzeug==1.0.1
