UPDATE songs
SET {{ field }} = {% if field=="votes"-%} {{update_value}} {% else -%}'{{ update_value }}' {% endif -%}
WHERE UPPER(song_name) = UPPER('{{ song_name }}') AND UPPER(artist) = UPPER('{{ artist }}')