{% extends "base.html" %} {% block title %}Charts{% endblock %} {% block content
    %}
    <h1 align="center">Charts</h1>

    <h3 align="center">Please select genre</h3>
<form name="form" action="" method="post" onsubmit="" align="center">
    <input type="radio" id="Pop" name="genre" value="Pop"> </input>
    <label for="Pop">Pop</label>
    <input type="radio" id="RnB" name="genre" value="RnB"> </input>
    <label for="RnB">RnB</label><br>
    <input type="radio" id="HipHop" name="genre" value="HipHop"> </input>
    <label for="HipHop">HipHop</label>
    <input type="radio" id="Metal" name="genre" value="Metal"> </input>
    <label for="Metal">Metal</label><br>
    <input type="radio" id="Rock" name="genre" value="Rock"> </input>
    <label for="Rock">Rock</label>
    <input type="radio" checked="checked" id="all" name="genre" value="all"> </input>
    <label for="all">All</label><br>
    <button type="submit" class= "btn btn-primary">Submit</button>
    
</form>
    <table align="center" border="2px solid black" width="100%">
        <th>Name</th>
        <th>Artist</th>
        <th>Youtube link</th>
        <th>Rating</th>
        {% for song in songs %}
        <tr>
            <td>{{song[1]}}</td>
            <td>{{song[2]}}</td>
            <td>{{song[4]}}</td>
            <td>{{song[6]}}</td>
        </tr>   
        {% endfor %}
        
    </table>
{% endblock %}