{% extends "base2.html" %} {% block title %}Charts{% endblock %} {% block content
    %}
    <h1 align="center">Charts</h1>
    <p>kako ovo dizajnirati? i kakva je funkcionalnost?
        Moja ideja je da se selektira Zanr i da se u zavisnosti od zanra prikaze top 10
    </p>
    <h3>Please select genre</h3>
    <input type="radio" id="pop" name="genre" value="pop">
    <label for="pop">Pop</label><br>
    <input type="radio" id="rnb" name="genre" value="rnb">
    <label for="rnb">RnB</label><br>
    <input type="radio" id="hiphop" name="genre" value="hiphop">
    <label for="hiphop">HipHop</label><br>
    <input type="radio" id="metal" name="genre" value="metal">
    <label for="metal">Metal</label>
    <table>
        <th>Name</th>
        <th>Artist</th>
        <th>Youtube link</th>
        <th>Rating</th>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
        <tr>
            <td>test</td>
            <td>test</td>
            <td>test</td>
            <td>test</td>
        </tr>
    </table>
{% endblock %}